<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.akbar.tradebooks">
    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.CALL_PHONE"/>
    <uses-permission android:name="android.permission.SEND_SMS"/>

    <application
        android:allowBackup="true"
        android:icon="@drawable/trade_books_logo_two"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".LoginPage"/>
        <activity android:name=".SignUpPage"
            android:parentActivityName=".LoginPage"
            android:label="Become Our Member"/>
        <activity android:name=".HomePage"/>
        <activity android:name=".BookPreview"
            android:parentActivityName=".MoreBooks"
            />
        <activity android:name=".Selling"
            android:parentActivityName=".HomePage"
            android:label="Sell on TradeBooks"/>
        <activity android:name=".MoreBooks"/>
        <activity android:name=".ContactSeller">
        <intent-filter>
            <action android:name="android.intent.action.SEND"/>
            <data android:mimeType="text/plain"/>
            <category android:name="android.intent.category.DEFAULT"/>
        </intent-filter>
        </activity>

    </application>

</manifest>